@use '../../scss' as *;

.Message {
  background-image: url('../../assets/emo-pattern.png');
  height: 100vh;
  overflow: auto;

  &_avatar {
    font-size: 0.875rem;
    width: max-content;
  }

  &_container {
    padding-top: 64px !important;
  }

  &_grid {
    display: grid;
    grid-template-columns: 96px auto;
    grid-gap: 1.5em 0.5em;

    @include breakpoint(sm) {
      grid-template-columns: 1fr;
      grid-gap: 0.5em;
    }
  }

  &_label {
    color: $white;
    font-weight: 600;
    text-align: right;
    font-size: 0.875rem;

    &:first-of-type {
      margin: 0;
    }

    @include breakpoint(sm) {
      margin: 1em 0 0;
      text-align: left;
    }
  }

  &_textarea {
    min-height: 160px;
    width: 100%;
  }

  &_thanks {
    display: grid;
    grid-template-columns: 320px auto;
    grid-gap: 24px;

    @include breakpoint(sm) {
      grid-template-columns: 1fr;
    }

    &_image {
      width: 100%;

      @include breakpoint(sm) {
        margin: 1em 0 0;
      }
    }

    &_message {
      color: $white;
      align-self: center;

      @include breakpoint(sm) {
        text-align: center;
      }

      span {
        color: $green;
      }
    }
  }
}
